{% extends '::base.html.twig' %}

{% block body %}
    <section class="col-sm-9">
        <h1>Création d'une galerie de photos</h1>

        <form action="{{ path('edit_galery', {'id' : galerie.id }) }}" method="POST" enctype="multipart/form-data">
            <div><button type="submit" id="corebundle_galerie_save" name="corebundle_galerie[save]" class="btn btn-primary pull-right">Enregistrer</button></div><br>
            <div>{{ form_row(form.title) }}<br></div>
            <div>
                <label>Lien vers cette galerie : </label><br>
                <p><a href="http://lucile-ortega.com/{{ galerie.lien.slug }}" target="_blank">http://lucile-ortega.com/{{ galerie.lien.slug }}</a></p>
            </div>
            <div>{{ form_row(form.description) }}<br></div>
            <div>{{ form_row(form.private) }}<br></div>
            <!-- zone de drag'n'drop -->
            <div class="dropzone my-dropzone" id="form_snippet_image" action="{{ path('ajax_snippet_image_send', {'id' : galerie.id }) }}"></div>
            <!-- fin de zone -->
            <div>
                <h2>Ajout de nouvelles images</h2>
                <div id="corebundle_galerie_images" data-prototype="<div><label class=&quot;required&quot;>__name__label__</label><div id=&quot;corebundle_galerie_images___name__&quot;><div><label for=&quot;corebundle_galerie_images___name___file&quot; class=&quot;required&quot;>Envoyer des images :</label><input type=&quot;file&quot; id=&quot;corebundle_galerie_images___name___file&quot; name=&quot;corebundle_galerie[images][__name__][file]&quot; required=&quot;required&quot; class=&quot;form-control&quot; multiple=&quot;multiple&quot; /></div><div><label for=&quot;corebundle_galerie_images___name___alt&quot;>text alternatif :</label><input type=&quot;text&quot; id=&quot;corebundle_galerie_images___name___alt&quot; name=&quot;corebundle_galerie[images][__name__][alt]&quot; class=&quot;form-control&quot; value=&quot;Lucile Ortega - Photographie&quot;/></div></div></div>"></div>
                <a href="#" id="add_image" class="btn btn-success">Ajouter une image</a><br><br>
            </div>
            <div>
                {% for image in images %}
                    <div class="row">
                        <p class="col-sm-6">
                            <img src="{{ asset('uploads/images/' ~ image.url) }}" alt="{{ image.alt }}" width="50%"><br>
                        </p>
                        <p class="col-sm-6">
                            <a href="{{ path('delete_image', {'id' : image.id}) }}" class="btn btn-danger suppr">Supprimer l'image</a>
                        </p>
                        <div class="col-sm-12">
                            <label for="corebundle_galerie_images_{{ loop.index - 1 }}_alt">text alternatif :</label>
                            <input type="text" id="corebundle_galerie_images_{{ loop.index - 1 }}_alt" name="corebundle_galerie[images][{{ loop.index - 1 }}][alt]" class="form-control" value="{{ image.alt }}"/><br>
                            <hr>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {{ form_widget(form._token) }}
            <div>{{ form_row(form.save) }}<br></div>
        </form>

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dropzone.js') }}"></script>
    {{ parent() }}
{% endblock %}
