{% extends '::base.html.twig' %}

{% block keywords %}
    {% if galerie.tags is not null and galerie.tags is not empty %}
        <META NAME="KEYWORDS" CONTENT="{{ galerie.tags }}">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block title %}{{ galerie.title ~ ' | ' ~ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/viewer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/galery.css') }}">
{% endblock %}

{% block body %}
    <section class="col-sm-9">
        <div class="docs-galley">
            <ul class="docs-pictures clearfix">
                {% if galerie %}
                    {% for image in galerie.images %}
                    <li {% if loop.index > 6 %} style="display: none" {% endif %}><img data-original="{{ asset('uploads/images/') ~ image.url }}" src="{{ asset('uploads/thumbs/') ~ image.url }}" alt="{{ image.alt }}"></li>
                    {% endfor %}
                {% else %}
                <li><p>la galerie n'a pas pu être chargée !</p></li>
                {% endif %}
            </ul>
        </div>
        <div style="margin-top: 20px">
            {{ galerie.description | raw}}
        </div>
    </section>
{% endblock %}

{% if autoplay %}
    {%  block javascripts %}
        <script>
            test = '{{ autoplay }}';
            // lancement du diaporama automatique (galerie en accueil)
            if( test == '1'){
                autoplay = true ;
            } else {
                autoplay = false ;
            }
        </script>
        {{ parent() }}
    {% endblock %}
{% endif %}
