<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="google-site-verification" content="MwX0EN58r7EXH2nsXlRVicRDYUBU8Q2cY7crhJHTCsY" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <META NAME="TITLE" CONTENT="Lucile Ortega Photographe">
        <META NAME="DESCRIPTION" CONTENT="Photographe professionnelle, je viens fixer les émotions de votre mariage, vos portraits, la naissance de votre enfant ou encore vos photos de famille. Je propose également des formations et des interventions photo">
        <META NAME="KEYWORDS" CONTENT="Lucile Ortega, photographe, Annonay, rhône-alpes, Ardèche, portrait, portraitiste, portraits d'enfants, mariage, mariages, portraits mariages, portrait couple, maternité, photographie evenementielle, artiste photographe, paysage, drôme, isère, loire, rhône, lyon, valence, saint etienne, vienne">
        <META NAME="SUBJECT" CONTENT="photos de lucile ortega, portfolio">
        <META NAME="CATEGORY" CONTENT="Art, Photographie, Portfolio">
        <META NAME="AUTHOR" CONTENT="Lucile Ortega">
        <META NAME="REPLY-TO" CONTENT="Lucile Ortega">
        <META NAME="REVISIT-AFTER" CONTENT="31 DAYS">
        <META NAME="LANGUAGE" CONTENT="FR">
        <META NAME="COPYRIGHT" CONTENT="Lucile Ortega">
        <META NAME="ROBOTS" CONTENT="All">

        {% block socialMeta %}{% endblock %}
        <title>{% block title %}Lucile Ortega{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}" >
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-16519728-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </head>
    <body>
        <div class="container">
            <header class="row">
                <img src="{{ asset('./images/entete%20bule%20rose.png') }}" alt="header">
                <!-- affiche burger pour tab et smartphone -->
                <div class="burger">
                    <span></span>
                </div>
            </header>

            <!-- affichage des messages flash -->
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="row">

                {% block body %}{% endblock %}

                {% block nav %}
                    <nav class="col-sm-3">
                        <!-- caché pour tab et smartphone -->
                        {{ render(controller("CoreBundle:Menu:viewMenu")) }}
                    </nav>
                {% endblock %}

            </div>

            <footer>
                <p>
                    <a href="http://gregory.blemand.free.fr/" target="_blank">Site réalisé par Greg Blémand</a><br>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('core_adminpage') }}">administration</a>
                        <br>
                        <a href="{{ path('fos_user_security_logout') }}">se déconnecter</a>
                    {% else %}
                        <a href="{{ path('core_adminpage') }}">se connecter</a>
                    {% endif %}
                </p>
            </footer>
        </div>
        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="{{ asset('js/viewer.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>

            {% if form is defined %}
            <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
            <!-- insertion de TinyMCE-->
            <script>
                tinymce.init({
                    selector:'.tinymce',
                    menubar: false,
                    plugins: [
                        "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "table contextmenu directionality emoticons template textcolor paste textcolor colorpicker textpattern responsivefilemanager"
                    ],
                    image_advtab: true,
                    toolbar1: "undo redo | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist | formatselect fontselect fontsizeselect responsivefilemanager",
                    toolbar2: "cut copy paste | searchreplace | outdent indent blockquote | link unlink image | forecolor backcolor | table | hr charmap emoticons | print | spellchecker pagebreak",
                    block_formats: 'Paragraphe=p;Titre 1=h1;Titre 2=h2;Titre 3=h3;Titre 4=h4;Titre 5=h5;Titre 6=h6;Préformaté=pre',
                    external_filemanager_path:"/lucile/site/web/js/tinymce/plugins/filemanager/",
                    filemanager_title:"Envoi de fichiers" ,
                    external_plugins: { "filemanager" : "/lucile/site/web/js/tinymce/plugins/filemanager/plugin.min.js"}
                });
            </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
