{% extends '::base.html.twig' %}

{% block body %}
    <section class="col-sm-9">
        <!-- partie galeries -->
        <h2>Gestion des galeries photos</h2>
        <div>
            <p><a href="{{ path('add_galery') }}" class="btn btn-info pull-right">Ajouter une galerie</a></p>
        </div>
        {% if galeries %}
            <table class="table table-bordered">
                <thead>
                <td width="60%">nom de la galerie</td>
                <td>Editer</td>
                <td>Supprimer</td>
                </thead>
                <tbody>
                {% for galery in galeries %}
                    <tr>
                        <td>
                            {{ galery.title }}
                            {% if galery.private %}
                                - Galerie privée
                            {% else %}
                                - Galerie public
                            {% endif %}
                        </td>
                        <td><a href="{{ path('edit_galery', {'id': galery.id}) }}">edit</a></td>
                        <td><a href="{{ path('delete_galery', {'id': galery.id}) }}" class="suppr">suppr</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="well">Aucune galerie créée</div>
        {% endif %}
        <br><br><br>

        <!-- partie pages -->
        <h2>Gestion des pages</h2>
        <div>
            <p><a href="{{ path('add_page') }}" class="btn btn-info pull-right">Ajouter une page</a></p>
        </div>
        {% if pages %}
            <table class="table table-bordered">
                <thead>
                <td width="60%">nom de la page</td>
                <td>Editer</td>
                <td>Supprimer</td>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.title }}</td>
                        <td><a href="{{ path('edit_page', {'id': page.id}) }}">edit</a></td>
                        <td><a href="{{ path('delete_page', {'id': page.id}) }}" class="suppr">suppr</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="well">Aucune page créée</div>
        {% endif %}
        <br><br><br>

        <!-- partie menu -->
        <h2>Gestion du menu</h2>
        <div>
            <p><a href="{{ path('add_link') }}" class="btn btn-info pull-right">Ajouter un lien</a></p>
        </div>
        {% if liens %}
            <table class="table table-bordered">
                <thead>
                <td width="5%">ordre</td>
                <td width="60%">titre du lien</td>
                <td>Type</td>
                <td>Editer</td>
                <td>Supprimer</td>
                </thead>
                <tbody>
                {% for lien in liens %}
                    <tr>
                        <td>
                            <p style="text-align: center">{{ lien.ordre }}</p>
                            <p style="text-align: center">
                                {% if lien.ordre > 1 %}
                                    <a href="{{ path('up_link', {'id': lien.id}) }}"><img src="{{ asset('images/up-arrow-circle-th.png') }}" alt="up" width="15px"></a>
                                {% endif %}
                                {% if loop != loop.last %}
                                    <a href="{{ path('down_link', {'id': lien.id}) }}"><img src="{{ asset('images/down-arrow-circle-th.png') }}" alt="up" width="15px"></a>
                                {% endif %}
                            </p>
                        </td>
                        <td>
                            <strong>Ancre du lien : </strong>{{ lien.title }}<br>
                            <strong>vers l'adresse : </strong> http://lucile-ortega.com/{{ lien.slug }}
                        </td>
                        <td>{{ lien.type }}</td>
                        <td><a href="{{ path('edit_link', {'id': lien.id}) }}">edit</a></td>
                        <td><a href="{{ path('delete_link', {'id': lien.id}) }}" class="suppr">suppr</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="well">Aucun lien dans le menu</div>
        {% endif %}
    </section>
{% endblock %}

