<!-- caché pour tab et smartphone -->
<ul>
    <li><a href="{{ path('core_homepage') }}">Accueil</a></li>

    {% for lien in liens %}
        <li>
            {% if lien.type == 'EXTERNE' %}
                <a href="{{ lien.url }}" target="_blank">{{ lien.title }}</a>
            {% else %}
                <a href="{{ path('show_page', {'slug': lien.slug}) }}">{{ lien.title }}</a>
            {% endif %}
        </li>
    {% endfor %}

</ul>
